:root {
  font-size: 13px;
  line-height: 1.71em;
  font-family: "PT Sans", "Arial", sans-serif;
  color: black;
  background-color: grey;
}

div {outline: 1px solid #666;}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}


.btn {
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
}

.header-top {
  background-color: #293449;
}

.label {
  float: left;
  width: 220px;
  background-color: #ee3643;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  position: relative;
}

.label:before {
  content: "";
  width: 220px;
  border-bottom: 5px solid #b52933;
  position: absolute;
  top: 100%;
  left: 0%;
}

.label-name {
  font-size: 24px;
  line-height: 1em;
  color: white;
  font-family: "Cuprum", "Arial", sans-serif;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.purchases {
  font-family: "Cuprum", "Arial", sans-serif;
  float: left;
  font-size: 17px;
  line-height: 1.05em;
  text-decoration: none;
  color: white;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-top: 11px;
}

.search-text {
  width: 150px;
  padding-bottom: 0px;
}

.checkout {
  float: right;
  width: 150px;
  text-align: center;
  background-color: #63a63e;
  padding: 0px;
  padding-bottom: 13px;
  padding-top: 12px;
}

.header-bottom {
  background-color: #f1f5f7;
}

.main-discription {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.43em;
  color: red;
  font-style: italic;
  width: 255px;
  float: left;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 53px;
}

.address-phone {
  margin-top: 56px;
  margin-left: 15px;
}

.address-top {
  font-size: 17px;
  line-height: 18px;
}

.phone-number {
  padding: 9px 55px;
  border: 3px solid white; 
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  color: #e9292a;
}

.phone {
  margin-bottom: 12px;
}

.address-top {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.enter, .submit {
  font-size: 21px;
  line-height: 18px;
  color: black;
}

.profile-btn {
  float: right;
  background-color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 15px;
  margin-top: 44px;
}

.submit {
  width: 150px;
  margin-right: 0px;
}

.enter {
  width: 120px;
  margin-right: 10px;
}

.top-nav {
  float: left;
}

.nav-link {
  font-family: "Cuprum", "Arial", sans-serif;
  float: left;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  line-height: 1em;
  color: white;
  background-color: #32425c;
  padding: 19px 27px;
  margin-top: 0px; 
  margin-right: 0px;
  margin-bottom: 61px;
  border-bottom: 5px solid #293449;
}

.nav-link:last-child { 
  padding-right: 25px;
}

.main-menu {
  margin-top: 60px;
}

.menu-item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 0.8em;
  color: white;
  font-weight: bold;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;   
}

.materials, .tools, .tech, .discounts, .delivery {
  position: relative;
  width: 300px;
  height: 123px;
}

.menu-item-name {
  position: absolute;
  left: 25px;
  top: 24px;
}

.materials-img, .tools-img, .tech-img, .discounts-img, .delivery-img {
  position: absolute;
  right: 30px;
  top: 24px;
}

.catalog-btn {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 0.77em;
  position: absolute;
  bottom: 22px;
  left: 25px;
  width: 135px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.materials {
  background-color: #f6b22d;
} 

.materials .catalog-btm {
  background-color: #dda028;
}

.slider-header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 24px;
  left: 25px;
  padding: 0px;
}

.slider-main-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: white;
  position: absolute;
  top: 62px;
  left: 25px;
}

.open-catalog {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 44px;
  position: absolute;
  top: 206px;
  left: 25px;
  background-color: #ee3643;
}

.prev {
  position: absolute;
  top: 115px;
  left: 25px;
} 

.next {
  position: absolute;
  top: 115px;
  right: 20px;
}

.fist-slide {
  position: absolute;
  top: 220px;
  right: 295px;
}

.second-slide {
  position: absolute;
  top: 220px;
  right: 315px;
}

.pop-goods-h, .pop-comp-h {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  font-weight: bold;
  text-transform: uppercase;
}

.goods-item {
  position: relative;
  float: left;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  min-height: 168px;
  text-align: center;
}

.goods-item:last-child {
  margin-right: 0px;
}

.new:before {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
  width: 60px;
  height: 60px;
  content: '';
  background: url('_img/newflag.jpg') no-repeat 0 0;
}

.good-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 25px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.prev-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  min-height: 20px;
  margin-bottom: 13px;
  color: #999999;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: line-through;
  text-align: center;
}

.price-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 20px;
  padding: 10px 30px;
  color: #fff;
  background: #ee3643;
  width: 80px;
  border-radius: 3px;
  position: relative;
  margin: 0 auto 20px;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
}

.price-item:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 20px solid #fff;
  border-left-color: #ee3643;
}

.goods-item-for-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #fff; 
  display: none;
}

.goods-item:hover .goods-item-for-hover {
  display: block;
}

.btn-buy, .btn-marks {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #63a63e;
  border-radius: 3px;
}

.btn-buy {
  box-shadow: inset 0 -3px 0 #367315;
}

.btn-marks {
  width: 129px;
  padding: 7px 0;
  color: #63a63e;
  border: 3px solid #63a63e;
  background-color: #fff;
}

.goods-item-img {
  max-width: 100%;
  overflow: hidden;
}


.pop-goods-head, .pop-comp-head {
  background-color: #f7f3ec;
  float: left;
  position: relative;
  margin-bottom: 20px;
  width: 885px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 25px;
}
 
.serv-h {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 1.25em;
}

.service-about {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 0.54em;
}

.serv-btn{
  font-size: 21px;
  line-height: 0.7em;
}

.serv-discription-header {
  font-size: 36px;
  line-height: 1.5em;
}

.serv-discription {
  font-size: 13px;
  line-height: 0.54em;
}



.about-us {
  font-size: 
  margin: 0px;
  width: 550px;
  padding: 0px;
}


.info-h {
  font-size: 30px;
  line-height: 1em;
}

.about-us-discription {
  font-size: 13px;
  line-height: 24px;
}

.transport-list-item {
  font-size: 18px;
  line-height: 0.9em;
}

.contacts-discription {
  font-size: 13px;
  line-height: 0.54em;
}

.label-footer {
  font-size: 30px;
  line-height: 1em;
  color: white;
  text-transform: uppercase;
}

.address-bottom {
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.navigation{
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.menu-item-bottom {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 25px;
  color: white;
}

.feedback-link, .academy-link {
  color: #ffd180;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  }

.clearfix { 
  clear: both; 
  content: ""; 
  display: table; 
}

.label, .purchases {
  display: inline-block;
  vertical-align: top;
}

.main-discription, .address-phone, .profile-btn {
  display: inline-block;
  vertical-align: top;
}

.menu-item {
  
}

.menu-slider {
  width: 620px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 55px;
}

.delivery, .discounts, .tech {
 margin-right: 0px;
}

.drills {
  display: none;
}

.pop-btn {
  position: absolute;
  width: 255px;
  top: 25px;
  right: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
}

.goods-item {
  float: left;
}

.pop-comp-item {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  height: 145px;
  outline: 1px solid #e5e5e5;
}

.pop-comp-item:nth-child(4n) {
  margin-right: 0px;
}

.service {
  margin-top: 85px;
  padding-top: 72px;
  background-color: #f2f6f8;
  position: relative;
}

.service-next {
  position: relative;
}

.service-about {
  font-size: 13px;
  line-height: 24px;
  margin-top: 35px;
  margin-bottom: 0px;
  padding: 0px;
  width: 450px;
}

.serv-discription {
  width: 200px;
}

.guarantee-about, .credit-about {
  display: none;
}

.serv-btn-list {
  width: 127px;
  float: left;
  margin-bottom: 100px;
  margin-top: 65px;  
}

.serv-btn {
  padding-left: 23px;
  text-align: left;
}

.serv-img {
  position: absolute;
  right: 0px;
  top: 185px;
}

.serv-list {
  width: 940px;
}

.serv-btn {
  float: left;
  width: 240px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #32425c;
  font-size: 21px;
  line-height: 32px;
  color: white;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  margin-left: 0px;
}

.serv-about {
  margin-top: 65px;
}

.serv-about-item {
  position: absolute;
  left: 240px;
  top: 195px;
}

.serv-discription-header, .serv-discription  {
  margin-bottom: 30px;
  margin-left: 80px;
  padding: 0px;
}

.serv-discription-header {
  font-size: 36px;
  line-height: 24px;
  padding-top: 3px;
  color: #32425c;
}

.serv-discription {
  font-size: 13px;
  line-height: 24px;
  width: 300px;
}



.about-us, .contacts {
  display: inline-block;
  vertical-align: top;
}

.name-address {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

.address-bottom, .phone-number {
  font-size: 18px;
  line-height: 24px;
}

.navigation {
  display: inline-block;
  vertical-align: top;
}

.copyright, .socialmedia, .feedback, .produse, .socialmedia-item {
  display: inline-block;
  vertical-align: top;
}


