:root {
  font-size: 13px;
  line-height: 1.71em;
  font-family: "PT Sans", "Arial", sans-serif;
  color: black;
}

@font-face {
  font-family: "Cuprum";
  src: url("../_fonts/cuprum.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../_fonts/cuprumitalic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../_fonts/cuprumbold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}


@font-face {
  font-family: "PT Sans";
  src: url("../_fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../_fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

.sprite {
    background-image: url(spritesheethover.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-basket-hover {
    width: 17px;
    height: 16px;
    background-position: -15px -15px;
}

.sprite--icon-bookmark-hover {
    width: 14px;
    height: 16px;
    background-position: -15px -61px;
}

.sprite--icon-login-hover {
    width: 20px;
    height: 17px;
    background-position: -15px -107px;
}

.sprite--icon-search-active {
    width: 17px;
    height: 17px;
    background-position: -15px -154px;
}

.sprite--icon-search-hover {
    width: 17px;
    height: 17px;
    background-position: -15px -201px;
}


.sprite {
    background-image: url(../_img/spriteslider.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-left {
    width: 22px;
    height: 40px;
    background-position: -15px -15px;
}

.sprite--icon-right {
    width: 22px;
    height: 40px;
    background-position: -15px -85px;
}

.sprite-slider-dots {
    width: 10px;
    height: 10px;
    background-position: -15px -155px;
}

.sprite-slider-indicator {
    width: 10px;
    height: 10px;
    background-position: -15px -195px;
}


.sprite {
    background-image: url(../_img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-basket {
    width: 17px;
    height: 16px;
    background-position: -15px -15px;
}

.sprite--icon-bookmark {
    width: 14px;
    height: 16px;
    background-position: -15px -61px;
}

.sprite--icon-facebook-copy {
    width: 10px;
    height: 18px;
    background-position: -15px -107px;
}

.sprite--icon-instagramm-copy {
    width: 17px;
    height: 17px;
    background-position: -15px -155px;
}

.sprite--icon-login {
    width: 20px;
    height: 17px;
    background-position: -15px -202px;
}

.sprite--icon-phone {
    width: 19px;
    height: 19px;
    background-position: -15px -249px;
}

.sprite--icon-search {
    width: 17px;
    height: 17px;
    background-position: -15px -298px;
}

.sprite--icon-vk-copy {
    width: 20px;
    height: 12px;
    background-position: -15px -345px;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}


.btn {
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
}

.header-top {
  background-color: #293449;
}

.label {
  float: left;
  width: 220px;
  background-color: #ee3643;
  padding-top: 10px;
  padding-bottom: 7px;
  text-align: center;
  position: relative;
}

.label:before {
  content: "";
  width: 220px;
  border-bottom: 5px solid #b52933;
  position: absolute;
  top: 100%;
  left: 0%;
}

.label:hover {
  background-color: #ca2c37;
}

.label:active {
  background-color: #ca2c37;
}

.label-name {
  font-size: 24px;
  line-height: 1em;
  font-weight: normal;
  color: white;
  font-family: "Cuprum", "Arial", sans-serif;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.purchases {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  float: left;
  font-size: 17px;
  line-height: 1.05em;
  text-decoration: none;
  color: white;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-top: 10px;
}

.search-link {
  position: relative;
  margin-left: 25px;
  padding-top: 8px;
  padding-left: 23px
}

.search-link:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spritesheet.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -15px -298px;
}

.search-link:hover:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spritesheethover.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -15px -201px;
}



.search-text {
  background-color: #293449;
  border: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  color: white;
  width: 230px;
  height: 41px;
  margin-top: -10px;
  border: 0px;
}

.search-text:focus {
  background-color: white;
  color: black;
}

.search-text:focus + .for-icon:after {
  content: "";
  position: absolute;
  top: 19px;
  left: -1px;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spritesheethover.png);
  background-repeat: no-repeat;
  width: 45px;
  height: 43px;
  background-position: 0px -140px;
  background-color: white;
}

.markes-link {
  position: relative;
  margin-left: -20px;
  padding-top: 12px;
  padding-left: 26px;
  padding-right: 18px;
}

.markes-link:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 6px;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spritesheet.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
  background-position: -15px -61px;
}

.markes-link:hover:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 6px;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spritesheethover.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
  background-position: -15px -61px;
}

.stock-link {
  position: relative;
  margin-left: 9px;
  padding-top: 12px;
  padding-left: 47px;
  padding-bottom: 13px;
}

.stock-link:before {
  content: "";
  position: absolute;
  top: 21px;
  left: 25px;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spritesheet.png);
  background-repeat: no-repeat;
  width: 17px;   
  height: 16px;
  background-position: -15px -15px;
}

.stock-link:hover:before {
  content: "";
  position: absolute;
  top: 21px;
  left: 25px;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spritesheethover.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 16px;
  background-position: -15px -15px;
}

.stock-link-active {
  background-color: #ee3643;
}

.checkout {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  float: right;
  width: 146px;
  text-align: center;
  background-color: #63a63e;
  padding: 0px;
  padding-bottom: 13px;
  padding-top: 12px;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
}

.header-bottom {
  background-color: #f1f5f7;
}

.main-discription {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.43em;
  color: red;
  font-style: italic;
  font-weight: normal;
  width: 200px;
  float: left;
  margin-top: 50px;
  margin-bottom: 42px;
  margin-left: 53px;
}

.address-phone {
  margin-top: 58px;
  margin-left: 67px;
  position: relative;
}

.address-phone:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 20px;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spritesheet.png);
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  background-position: -15px -249px;
}

.phone-number-top {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  padding-top: 7px;
  padding-left: 70px;
  padding-bottom: 9px;
  padding-right: 54px;
  border: 3px solid white; 
  text-decoration: none;
  color: #e9292a;
  font-size: 21px;
  line-height: 18px;
  cursor: default;
  
}

.phone {
  margin-bottom: 12px;
  width: 270px;
}

.address-top {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: 8px;
  margin-left: 10px;
  color: #32425c;
}

.enter, .submit {
  font-size: 21px;
  line-height: 18px;
  color: black;
}

.profile-btn {
  float: right;
  background-color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 15px;
  margin-top: 44px;
  text-decoration: none;
}

.profile-btn:hover {
  color: #ee3643;
}

.profile-btn:active {
  color: #b2b2b2;
}

.submit {
  width: 150px;
  margin-right: 0px;
  padding-top: 15px;
}

.enter {
  position: relative;
  width: 100px;
  margin-right: 10px;
  padding-left: 20px;
  padding-top: 15px;
}

.enter:before {
  content: "";
  position: absolute;
  top: 23px;
  left: 23px;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spritesheet.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 17px;
  background-position: -15px -202px;
}

.enter:hover:before {
  content: "";
  position: absolute;
  top: 23px;
  left: 23px;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spritesheethover.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 17px;
  background-position: -15px -107px;
}

.top-nav {
  float: left;
  margin-bottom: 59px;
  width: 940px;
  text-align: center;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.nav-link {
  font-family: "Cuprum", "Arial", sans-serif;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: -3px;
  margin-bottom: 0px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  line-height: 1em;
  color: white;
  background-color: #32425c;
  padding-left: 32px;
  padding-right: 31px;
  padding-bottom: 17px;
  padding-top: 20px;
  margin-top: 0px; 
  
}


.nav-link:hover {
  background-color: #293449;
}

.nav-link:active {
  color: #8e939c;
  background-color: #293449;
}

.main-menu {
  margin-top: 60px;
}

.menu-item-new {
  overflow: hidden;
}

.menu-item-new:before {
  content: "new";
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  right: -30px;
  width: 100px;
  height: 27px;
  background-color: #ee3643;
  transform-origin: center;
  transform: rotate(45deg);
}

.menu-item {
  color: white;
  font-weight: bold;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.materials, .tools, .tech, .discounts, .delivery {
  position: relative;
  width: 300px;
  height: 123px;
}

.menu-item-name {
  position: absolute;
  font-size: 24px;
  line-height: 1.25em;
  left: 22px;
  top: 21px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
}

.materials-img {
  position: absolute;
  right: 43px;
  top: 31px;
}

.tools-img {
  position: absolute;
  right: 28px;
  top: 33px;
}


.tech-img {
  position: absolute;
  right: 31px;
  top: 31px;
}


.discounts-img {
  position: absolute;
  right: 45px;
  top: 26px;
}

.delivery-img {
  position: absolute;
  right: 31px;
  top: 32px;
}

.catalog-btn {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 0.77em;
  text-decoration: none;
  position: absolute;
  bottom: 21px;
  left: 25px;
  width: 135px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 1.0);
}


.catalog-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #f6b22d;
} 

.tools {
  background-color: #4aafde;
} 

.tech {
  background-color: #cc79d1;
} 

.discounts {
  background-color: #85d179;
} 

.delivery {
  background-color: #f6b22d;
} 

.slider-header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 27px;
  left: 23px;
  padding: 0px;
}

.slider-main-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: white;
  position: absolute;
  top: 62px;
  left: 25px;
}

.open-catalog {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 45px;
  position: absolute;
  top: 206px;
  left: 25px;
  background-color: #ee3643;
  border-radius: 3px;
  cursor: pointer;
}

.open-catalog:hover, .btn:hover {
  background-color: #ca2c37;
}

.open-catalog:active, .btn:active {
  background-color: #ba2732;
}

.arrow {
  border: 0px;
  background-color: rgba(0,0,0,0.0);
  cursor: pointer;
}

.prev {
  position: absolute;
  top: 115px;
  left: 25px;
} 

.prev:before {
  content: "";
  position: absolute;
  top: 900%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spriteslider.png);
  background-repeat: no-repeat;
  width: 22px;
  height: 40px;
  background-position: -15px -15px;
}

.slider-page {
  border: 0px;
  background-color: rgba(0,0,0,0.0);
  cursor: pointer;
}

.next {
  position: absolute;
  top: 115px;
  right: 20px;
}

.next:before {
  content: "";
  position: absolute;
  top: 900%;
  right: -100%;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spriteslider.png);
  background-repeat: no-repeat;
  width: 22px;
  height: 40px;
  background-position: -15px -85px;
}

.fist-slide {
  position: absolute;
  top: 222px;
  right: 312px;
}

.fist-slide:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spriteslider.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  background-position: -15px -195px;
}

.second-slide {
  position: absolute;
  top: 222px;
  right: 292px;
}

.second-slide:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spriteslider.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  background-position: -15px -155px;
}

.goods {
  width: 940px;
}

.pop-goods-h, .pop-comp-h {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  color: #32425c;
  font-weight: bold;
  text-transform: uppercase;
}

.goods-item {
  position: relative;
  float: left;
  width: 23.1%;
  margin-right: 2.1%;
  margin-bottom: 2.2%;
  padding-bottom: 2.6%;
  border: 1px solid #ccc;
  min-height: 17.8%;
  text-align: center;
  overflow: hidden;
}

.goods-item-gallery {
  position: relative;
  float: left;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 25px;
  border: 1px solid #ccc;
  line-height: 20px;
  min-height: 168px;
  text-align: center;
  overflow: hidden;
}

.goods-item:last-child {
  margin-right: 0px;
}

.goods-item-new:before {
  color: white;
  content: "new";
  position: absolute;
  text-align: center;
  top: 10px;
  right: -30px;
  width: 100px;
  height: 27px;
  background-color: #ee3643;
  transform-origin: center;
  transform: rotate(45deg);
}

.good-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  min-height: 40px;
  margin-top: 5px;
  margin-bottom: 12px;
  padding: 0 30px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.prev-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  min-height: 20px;
  margin-bottom: 19px;
  color: #999999;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: line-through;
  text-align: center;
}

.price-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.05em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  background: #ee3643;
  width: 80px;
  border-radius: 3px;
  position: relative;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 33px;
  padding-right: 43px;
  text-decoration: none;
}

.price-item:after {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 19px solid #fff;
  border-left-color: #ee3643;
}

.goods-item-for-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #fff; 
  display: none;
}

.goods-item:hover {
  box-shadow: 0 2px 40px rgba(0,0,0,0.6);
}

.goods-item:hover .goods-item-for-hover {
  display: block;
  
}

.btn-buy, .btn-marks {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #63a63e;
  border-radius: 3px;
  position: relative;
}

.btn-buy:before {
  content: "";
  width: 10px;
  height: 279px;
  position: absolute;
  top: 10px;
  left: 13px;
  background-image: url(../_img/spritesheethover.png);
  width: 17px;
  height: 16px;
  background-position: -15px -15px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.btn-buy:hover:before {
  content: "";
  width: 10px;
  height: 279px;
  position: absolute;
  top: 10px;
  left: 13px;
  background-image: url(../_img/spritesheethover.png);
  width: 17px;
  height: 16px;
  background-position: -15px -15px;
  background-repeat: no-repeat;
  opacity: 1;
}

.btn-buy {
  box-shadow: inset 0 -3px 0 #367315;
}

.btn-buy:hover {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #518534;
}

.btn-marks {
  width: 129px;
  padding: 7px 0;
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #fff;
}

.btn-marks:hover {
  border: 3px solid #32425c;
}

.btn-marks:active {
  opacity: 0.3;
}

.goods-item-img {
  max-width: 100%;
  overflow: hidden;
}

.pop-goods-head, .pop-comp-head {
  background-color: #f7f3ec;
  float: left;
  position: relative;
  margin-bottom: 20px;
  width: 885px;
  padding-left: 30px;
  padding-bottom: 26px;
  padding-top: 0px;
  padding-right: 25px;
}
 
.pop-goods-head {
  margin-top: -8px;
  padding-left: 27px;
  padding-top: 29px;
}

.pop-comp {
  margin-top: 0px;
}

.pop-comp-head {
  padding-left: 23px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom: 23px;
  margin-bottom: 23px;
}

.serv-h {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.25em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.service-about {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 0.54em;
}

.serv-btn{
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 0.7em;
}

.serv-discription-header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.5em;
}

.serv-discription {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 0.54em;
}


.about-us {
  font-size: 
  margin: 0px;
  width: 550px;
  padding: 0px;
}

.info {
  margin-bottom: 92px;
}

.info-h {
  font-size: 30px;
  line-height: 1em;
}

.about-us-discription {
  font-size: 13px;
  line-height: 24px;
}

.transport-list-item {
  font-size: 18px;
  line-height: 0.9em;
}

.contacts-discription {
  font-size: 13px;
  line-height: 0.54em;
}

.label-footer {
  font-size: 30px;
  line-height: 1em;
  color: white;
  text-transform: uppercase;
}

.address-bottom {
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.navigation{
  font-size: 18px;
  line-height: 24px;
  color: white;
}



.menu-item-bottom {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 25px;
  color: white;
}

.feedback-link, .academy-link {
  color: #ffd180;
  text-decoration: none;
}

.feedback-link:hover, .academy-link:hover {
  text-decoration: underline;
}

.feedback-link:active, .academy-link:active {
  text-decoration: none;
  color: #ee3643;
}

.feedback {
  padding-left: 115px;
  margin-right: 48px;
  padding-top: 4px;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  }

.clearfix:after { 
  clear: both; 
  content: ""; 
  display: table; 
}

.label, .purchases {
  display: inline-block;
  vertical-align: top;
}

.main-discription, .address-phone, .profile-btn {
  display: inline-block;
  vertical-align: top;
}

.menu-slider {
  width: 620px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 55px;
}

.delivery, .discounts, .tech {
 margin-right: 0px;
}

.drills {
  display: none;
}

.pop-head {
  float: left;
}

.pop-btn {
  font-family: "Cuprum", "Arial", sans-serif;
  float: right;
  font-weight: normal;
  width: 255px;
  margin-right: -2px;
  margin-top: -3px;
  padding-top: 10px;
  padding-bottom: 9px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.all-pop-comp {
  margin-right: -8px;
  margin-top: -7px;
}


.pop-comp-item {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  height: 145px;
  outline: 1px solid #e5e5e5;
}

.pop-comp-item:nth-child(4n) {
  margin-right: 0px;
}

.pop-comp-item:hover {
  box-shadow: 0 2px 20px rgba(0,0,0,0.6);
}

.pop-comp-item:active {
  box-shadow: 0 2px 20px rgba(0,0,0,0.6);
  opacity: 0.3;
}

.service {
  margin-top: 67px;
  padding-top: 59px;
  background-color: #f2f6f8;
  position: relative;
}

.service-next {
  position: relative;
  padding-top: 0px;
}

.service-about {
  font-size: 13px;
  line-height: 24px;
  margin: 0px;
  margin-bottom: 0px;
  padding: 0px;
  width: 450px;
  padding-top: 20px;
  padding-bottom: 3px;
}

.serv-discription {
  width: 200px;
}

.guarantee-about, .credit-about {
  display: none;
}

.serv-btn-list {
  width: 127px;
  float: left;
  margin-bottom: 100px;
  margin-top: 5px;
  position: relative;
}

.serv-btn-list:before {
  content: "";
  width: 10px;
  height: 279px;
  position: absolute;
  top: -40px;
  right: -113px;
  background-image: url(../_img/vertline.png);
  background-repeat: no-repeat;
}

.serv-img {
  position: absolute;
  right: 1px;
  bottom: -1px;
}

.serv-list {
  width: 940px;
}

.serv-btn {
  float: left;
  width: 240px;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #32425c;
  font-size: 21px;
  line-height: 32px;
  text-align: left;
  color: white;
  margin-left: 0px;
  border-right: 0px;
  border-left: 0px;
  cursor: pointer;
}

.serv-btn-noactive {
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.serv-btn-active {
  background-color: white;
  color: #32425c;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
}

.serv-btn:last-child {
  border-bottom: 0px;
}

.serv-btn-noactive:hover {
  background-color: #293449;
}

.serv-about {
  margin-top: 65px;
}

.serv-about-item {
  margin-left: 240px;
  margin-top: -5px;
  
}

.serv-discription-header, .serv-discription  {
  margin-top: 0px; 
  margin-bottom: 30px;
  margin-left: 80px;
  padding: 0px;
}

.serv-discription-header {
  font-size: 36px;
  line-height: 24px;
  padding-top: 10px;
  color: #32425c;
}

.serv-discription {
  font-size: 13px;
  line-height: 24px;
  width: 300px;
}

.about-us-h {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.about-us, .contacts {
  display: inline-block;
  vertical-align: top;
  padding-top: 80px;
}

.about-us-discription {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  padding-top: 16px;
}

.about-us-discription-second {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  padding-top: 10px;
}

.transport-list {
  padding-top: 13px;
  padding-left: 35px;
  list-style: none;
}

.transport-list-item:first-child {
  padding-top: 0px;
}

.transport-list-item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  position: relative;
  padding-top: 23px;
}

.transport-list-item:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: -35px;
  bottom: 7px;
  background-color: #fb565a;
}

.transport-list-item:last-child {
  margin-bottom: 50px;
}

.about-us-more {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  padding: 12px 40px;
  border-radius: 3px;
  padding-bottom: 10px;
}

.contacts {
  margin-left: 86px;
}

.contacts-h {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.map-for-js {
  margin-top: 34px;
  margin-bottom: 42px;
}

.contacts-more {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  padding: 12px 61px;
  padding-right: 62px;
  border-radius: 3px;
}

.label-footer {
  float: left;
  width: 220px;
  background-color: #ee3643;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  position: relative;
  font-size: 30px;
  line-height: 1em;
  font-weight: normal;
  color: white;
  font-family: "Cuprum", "Arial", sans-serif;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.label-footer:before {
  content: "";
  width: 220px;
  border-bottom: 5px solid #b52933;
  position: absolute;
  top: 100%;
  left: 0%;
}

.address-bottom {
  width: 330px;
  margin-top: 100px;
  margin-right: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  list-style: none;
  font-size: 18px;
  line-height: 1.33em;
}

.nav-link-bottom, .menu-item-bottom {
  font-family: "Cuprum", "Arial", sans-serif;
  list-style: none;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.33em;
  margin-left: 54px;
}

.nav-link-bottom:hover, .menu-item-bottom:hover {
  text-decoration: underline;
}

.nav-link-bottom:active, .menu-item-bottom:active {
  opacity: 0.5;
  text-decoration: none;
}

.nav-link-bottom {
  color: white;
}

.nav-link-bottom:first-child {
  margin-left: 0px;
}

.menu-item-bottom:first-child {
  margin-left: 0px;
}

.name-address {
  width: 320px;
  display: inline-block;
  vertical-align: top;
}

.address-bottom, .phone-number {
  font-size: 18px;
  line-height: 24px;
}

.phone-number-bottom {
  text-decoration: none;
  color: white;
}

.catolog-nav, .navigation {
 float: right;
 margin-top: 34px;
}

.copyright, .socialmedia, .feedback, .produse, .socialmedia-item {
  display: inline-block;
  vertical-align: top;
  font-family: "Cuprum", "Arial", sans-serif;
  list-style: none;
  font-size: 16px;
  line-height: 1.125em;
}

.feedback-link {
  margin-left: 0px;
  margin-right: 0px;
}

.socialmedia {
  margin-left: 150px;
  margin-top: 2px;
  margin-right: 0px;
}

.produse {
  margin-top: 2px;
}

.socialmedia-item {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 2px;
  font-size: 0px;
  background-color: #212a3a;
  border-radius: 50%;
}

.socialmedia-item:hover {
  background-color: #ee3643;
}

.socialmedia-item:before {
  content: "";
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../_img/spritesheet.png);
  background-repeat: no-repeat;
}

.vk:before {
  width: 20px;
  height: 12px;
  background-position: -15px -345px;
}

.fc:before {
  width: 10px;
  height: 18px;
  background-position: -15px -107px;
}

.inst:before {
  width: 17px;
  height: 17px;
  background-position: -15px -155px;
}

.footer-bottom {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #293449;
}

.footer-top {
  margin-top: 0px;
  padding-bottom: 25px;
  background-color: #32425c;
}

/*Drills*/

.breadcrumbs {
  position: relative;
}

.breadcrumbs-item-name {
  color: black;
  display: inline-block;
  vertical-align: top;
  margin-top: 23px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.38em;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  margin-left: 20px;
  margin-right: 25px;
}



.home {
  font-size: 0px;
  margin-left: 0px;
}

.breadcrumbs-item-name:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: -23px;
  background-image: url(../_img/icon-right-bread.png);
  background-repeat: no-repeat;
} 

.breadcrumbs-item-name:last-child:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: -32px;
  background-image: url(../_img/icon-right-bread.png);
  background-repeat: no-repeat;
} 

.home:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 0px;
  background-image: url(../_img/icon-home.png);
  background-repeat: no-repeat;
}

.drills-header {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 910;
  padding-left: 29px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 1em;
  color: #32425c;
  background-color: #f2f6f8;
  padding-top: 30px;
  padding-bottom: 30px;
}

.filter {
  position: relative;
  float: left;
  margin-right: 20px;
}

.filter-h {
  width: 200px;
  background-color: #f7f3ec;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.38em;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 12px;
}

.filret-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.76em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.price-slider {
  width: 180px;
  padding-bottom: 39px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  background-color: #f7f3ec;
  margin-bottom: 9px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.price-backline {
  background-color: #d7dcde;
  height: 2px;
}

.price-line {
  width: 140px;
  height: 2px;
  background-color: #00ca74;
  position: relative;
}

.left-slider, .right-slider {
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: -10px;
  left: 0px;
  cursor: pointer;
}

.right-slider {
  left: 140px;
}

.price-min, .price-max {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.05em;
  width: 90px;
  border: none;
  border-radius: 1px;
  outline: none;
  background-color: #f7f3ec;
  padding: 7px 1px;
  text-align: center;
}

.dash {
  display: inline-block;
  background-color: black;
  width: 10px;
  height: 1px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.price-inputs {
  position: relative;
  margin-bottom: 45px;  
}

.price-inputs:before {
  content: "";
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
  position: absolute;
  top: 63px;
}

.company-h {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.76em;
  text-transform: uppercase;
}

.com-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.33em;
  text-transform: uppercase;
  cursor: pointer;
}

.company-list-item {
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  margin-top: 13px;
  margin-bottom: 19px;
}

.check-indicator:before {
  content: "";
  width: 27px;
  height: 25px;
  left: 0px;
  position: absolute;
  background-image: url(../_img/icon-check-off.png);
  background-repeat: no-repeat;
}

.checkbox-company {
  display: none;
}

.checkbox-company:checked + .check-indicator:before {
  content: "";
  width: 27px;
  height: 25px;
  left: 0px;
  position: absolute;
  background-image: url(../_img/icon-check-on.png);
  background-repeat: no-repeat;
}

.energy {
  margin-top: 35px;
}

.energy-h {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.76em;
  text-transform: uppercase;
  position: relative;
}

.energy-h:before {
  content: "";
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
  position: absolute;
  top: -20px;
}

.company-list-item-radio {
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  margin-top: 13px;
  margin-bottom: 19px;
}

.check-indicator-radio:before {
  content: "";
  width: 27px;
  height: 25px;
  left: 0px;
  position: absolute;
  background-image: url(../_img/icon-circle.png);
  background-repeat: no-repeat;
}

.energy-filter {
  display: none;
}

.energy-filter:checked + .check-indicator-radio:before {
  content: "";
  width: 27px;
  height: 25px;
  left: 0px;
  position: absolute;
  background-image: url(../_img/icon-circle-dot.png);
  background-repeat: no-repeat;
}

.show-btn {
  width: 140px;
  border: 1px solid #e5e5e5;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.38em;
  text-transform: uppercase;
  margin-top: 58px;
}

.sorting {
  width: 681px;
  background-color: #f7f3ec;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.38em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-radius: 3px;
  margin-left: -1px;
  padding-top: 11px;
  padding-left: 19px;
  position: relative;
}

..sorting-ascending {
  position: relative;
}

.sorting-ascending:before {
  content: "";
  border: 7px solid #f7f3ec;
  width: 0px;
  height: 0px;
  top: 10px;
  right: 45px;
  position: absolute;
  border-bottom-color: #ee3643;
}

.sorting-descending:before {
  content: "";
  border: 7px solid #f7f3ec;
  width: 0px;
  height: 0px;
  top: 15px;
  right: 15px;
  position: absolute;
  border-top-color: #c6c2bd;
}

.sorting-btn {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.38em;
  text-decoration: none;
  color: #acaaa5;
  border-bottom: 1px dotted #ee3643;
}

.sorting-btn:hover {
  border-bottom: 1px solid #ee3643;
}

.sorting-btn-active {
  color: #ee3643;
  text-decoration: none;
  border-bottom: 0px solid #ee3643;
}

.sorting-btn-active:hover {
  color: #ee3643;
  text-decoration: none;
  border-bottom: 0px solid #ee3643;
}

.sorting-h {
  margin-right: 138px;
}

.sorting-price {
  margin-right: 68px;
}

.sorting-type {
  margin-right: 60px;
}

.goods-main {
  width: 1000px;
}

.pages {
  margin-left: 240px;
  margin-top: 35px;
}

.page-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.38em;
  width: 38px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: white;
  border: 1px solid #e5e5e5;
  color: black;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  margin-right: 5px;
}

.next-page {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.38em;
  background-color: white;
  border: 1px solid #e5e5e5;
  color: black;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  width: 140px;
  text-transform: uppercase;
  border-radius: 3px;
}

.page-item:hover, .next-page:hover {
  border-color: #bdc6ca;
}

.active-page {
  border-color: #ee3643;
  background-color: #ee3643;
  color: white;
}

.btn-page:active {
  border-color: #ee3643;
}

.active-page:hover {
  border-color: #ee3643;
  background-color: #ee3643;
  color: white;
}

.category-discription {
 background-color: #f2f6f8; 
 padding-top: 50px;
 margin-top: 60px;
 padding-bottom: 53px;
}

.category-discription-h {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 18px;
}

.category-discription-main {
  margin-top: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.my {
  float: right;
  width: 300px;
  margin-top: 45px;
}

.my-prof, .my-orders, .my-room  {
 display: inline-block;
 vertical-align: top;
}

.my-prof {
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 18px;
  width: 252px;
  background-color: white;
  padding-left: 48px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-decoration: none;
}

.my-prof:before {
  content: "";
  width: 27px;
  height: 25px;
  left: 15px;
  position: absolute;
  background-image: url(../_img/icon-user.png);
  background-repeat: no-repeat;
}

.my-prof:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 25px;
  top: 15px;
  right: 3px;
  position: absolute;
  background-image: url(../_img/icon-logout.png);
  background-repeat: no-repeat;
}

.my-prof:hover:before {
  content: "";
  width: 27px;
  height: 25px;
  left: 15px;
  position: absolute;
  background-image: url(../_img/icon-user-active.png);
  background-repeat: no-repeat;
}

.my-prof:hover:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 25px;
  top: 15px;
  right: 3px;
  position: absolute;
  background-image: url(../_img/icon-logout-active.png);
  background-repeat: no-repeat;
}

.my-prof:active {
  color: #b2b2b2;
}

.my-orders, .my-room {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125em;
  border-bottom: 1px solid #49586f;
  color: #49586f;
  margin-top: 7px;
  margin-left: 19px;
  text-decoration: none;
}

.my-orders {
  position: relative;
  margin-right: 12px;
}

.my-orders:before {
  content: "";
  width: 0px;
  height: 0px;
  border: 2px solid #49586f;
  border-radius: 50%;
  right: -20px;
  top: 8px;
  position: absolute;
}

.my-orders:hover, .my-room:hover {
  color: #ee3643;
  border-color: #ee3643;
  cursor: pointer;
}

/*pop-ups*/

.pop-up-text {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 210px;
  background-color: white;
  padding-top: 47px;
  box-shadow: 0 2px 40px rgba(0,0,0,0.6);
  display: none;
  padding-top: 41px;
  right: 0px;
  left: 0px;
}

.pop-up-text:before {
  content: "";
  width: 620px;
  border-bottom: 7px solid #ee3643;
  position: absolute;
  top: -1px;
  left: 0%;
}

.pop-up-text-top {
  position: relative;
}

.close {
  position: absolute;
  top: -17px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px;
  cursor: pointer;
}

.close:before, .close:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 5px;
  background-color: #ee3643;
  border-radius: 1px;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.pop-up-label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1em;
} 

.your-name-wrap, .your-email-wrap {
  width: 220px;
  display: inline-block;
  vertical-align: top;
}
.your-name-wrap {
  margin-left: 80px;
}

.your-name, .your-email{
  width: 200px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.38em;
  padding-left: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 8px;
}

.your-name-wrap, .your-email-wrap {
  margin-right: 20px;
  margin-bottom: 20px;
}

.your-email-wrap {
  margin-right: 40px;
} 

.letter {
  margin-bottom: 37px;
  margin-left: 80px;
}

.letter-text {
  width: 440px;
  height: 18px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.38em;
  padding-left: 14px;
  padding-top: 9px;
  padding-bottom: 87px;
  margin-left: 80px;
  margin-top: 10px;
  resize: none;
}

.pop-up-text-bot {
  background-color: #f1f1f1;
  padding-top: 40px;
  padding-bottom: 37px;
  margin-top: 37px;
}

.send {
  margin-left: 80px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.28em;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  padding-left: 199px;
  padding-right: 189px;
  padding-top: 10px;
  padding-bottom: 10px;
} 

.big-map-img {
 box-shadow: 0 1px 40px rgba(0,0,0,0.6); 
}

.big-map {
  position: fixed;
  top: 357px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.close-map {
  content: "";
  top: 33px;
  right: 25px;
  width: 19px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px;
}

.close-map:before, .close-map:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 19px;
  height: 3px;
  background-color: #ee3643;
  border-radius: 1px;
  cursor: pointer;
}

.close-map:before {
  transform: rotate(45deg);
}

.close-map:after {
  transform: rotate(-45deg);
}

.pop-up-for-position {
  width: 620px;
  position: fixed;
  z-index: 100;
  right: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 340px;
  display: none;
}

.pop-up-cart {
  box-shadow: 0 2px 40px rgba(0,0,0,0.6);
  width: 620px;
  position: relative;
}

.pop-up-cart:before {
  content: "";
  width: 620px;
  border-bottom: 7px solid #ee3643;
  position: absolute;
  top: -7px;
  left: 0%;
}

.pop-up-cart:after {
  content: "";
  width: 67px;
  height: 67px;
  background-color: #63a63e;
  border-radius: 50%;
  top: 45px;
  left: 75px;
  background-image: url(../_img/arrow.png);
  background-repeat: no-repeat;
  position: absolute;
  background-position: 50% 50%;
}

.pop-up-top {
  position: relative;
  padding-top: 70px;
  padding-bottom: 68px;
  padding-left: 180px;
  background-color: white;
}

.close-cart {
  content: "";
  position: absolute;
  top: 17px;
  right: 9px;
  width: 19px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px;
}

.close-cart:before, .close-cart:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 5px;
  background-color: #ee3643;
  border-radius: 1px;
}

.close-cart:before {
  transform: rotate(45deg);
}

.close-cart:after {
  transform: rotate(-45deg);
}

.in-cart {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 18px;
  position: relative;
}

.pop-up-bot {
  background-color: #f1f1f1;
  padding-left: 80px;
  padding-top: 37px;
  padding-bottom: 38px;
}

.proceed-cart {
  margin-right: 20px;
}

.pop-up-btn {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.28em;
  text-transform: uppercase;
  text-decoration: none;
}

.proceed-buy {
  background-color: white;
  text-align: center;
  color: black;
}