body {
  font-size: 14px;
  font-family:  Cuprum, PT Sans;
}

.label {
  font-size: 24px;
  line-height: 24px;
  color: white;
}

.purchases {
  font-size: 17px;
  line-height: 18px;
  color: white;
}

.main-discription {
  font-size: 16px;
  line-height: 23px;
  color: red;
  font-style: italic;
}

.address-top {
  font-size: 17px;
  line-height: 18px;
}

.phone-number {
  font-size: 21px;
  line-height: 18px;
  color: #e9292a;
}

.address-top {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.enter, .submit {
  font-size: 21px;
  line-height: 18px;
  color: black;
}

.nav-link {
  font-size: 18px;
  line-height: 18px;
  color: white;
}

.menu-item {
  font-size: 24px;
  line-height: 30px;
  color: white;
  font-weight: bold;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
}

.slider-header {
  font-size: 36px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.slider-main-text {
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.pop-goods-h, pop-comp-h {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-family: PT Sans;
  font-size: 18px;
  line-height: 20px;
  color: black;
  font-weight: bold;
}

.prev-price {
  font-family: PT Sans;
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: line-through;
}

.price-item {
  font-family: PT Sans;
  font-size: 17px;
  line-height: 18px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.label-footer {
  font-size: 30px;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
}

.address-bottom {
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.navigation{
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.menu-item-bottom {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 25px;
  color: white;
}

.feedback-link, .academy-link {
  color: #ffd180;
}